<section class="margin-bottom">
    <label for="#(field.id)">#(field.label ?? field.id.capitalized())#if(field.required ?? false):<span class="red-color">*</span>#endif#if(field.more ?? false): <span class="more">(#(field.more))</span>#endif</label>
    <textarea name="#(field.id)" class="textarea:#(field.size)"#if(field.required ?? false): aria-required="true"#endif>#(field.data.value)</textarea>
    #if(field.data.error != nil):
    <span class="red-color">#(field.data.error)</span>
    #endif
</section>
