.color-secondary {
    color: #fa3ebe;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-bottom: 1rem;
}
table tr {
    background: #fff;
    color: #333;
}
table tbody tr a, table tbody tr a:visited {
    color: #404040;
}
table tbody tr:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    table tr {
        background: #000;
        color: #eee;
    }
}
@media (max-width: 599px) {
    .td\:compact\:margin { margin-top: 0.75rem; margin-bottom: 0.75rem; }
    .td\:compact\:hidden { display: none; }
    .td\:compact\:col2 { grid-column: span 2; }
    .td\:compact\:col3 { grid-column: span 3; }
    .td\:compact\:col3 { grid-column: span 4; }
    .td\:compact\:separator {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #e9e9e9;
    }
    @media (prefers-color-scheme: dark) {
        .td\:compact\:separator {
            border-bottom: 1px solid #232323;
        }
    }
}

.uploader img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
.small-uploader img {
    width: 10rem;
    border-radius: 0.5rem;
}
.circular-uploader img {
    width: 10rem;
    border-radius: 50%;
}
.large-uploader img {
    border-radius: 0.5rem;
}




#notification {
    position: fixed;
    top: 4rem;
    right: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    opacity: 1;
    animation: fade 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes fade {
    from { opacity: 1; }
    to { opacity: 0; }
}
#notification {
    color: #000;
    background: #fff;
    border: 2px solid #ddd;
}
@media (prefers-color-scheme: dark) {
    #notification {
        color: #fff;
        background: #0c0c0c;
        border: 2px solid #222;
    }
}
