#define(title):
#(detail.title ?? "") details
#enddefine

#define(breadcrumb):
    #if(UserHasPermission(detail.key + ".list")):
    <li><a href="#(detail.list.url)">#(detail.list.title)</a></li>
    #endif
#enddefine
    
#define(body):
<div class="container">
    <header class="margin-bottom">
        <h1 class="margin-top-zero">#(detail.title ?? "") details</h1>
        <p class="margin-top-zero">
            #var(finalActions = [])
            #if((detail.edit ?? true) && UserHasPermission(detail.key + ".update")):
                #(finalActions.append(["link": $req.url.path + "update/", "name": "Edit"]))
            #endif
            #for(action in finalActions + detail.actions ?? []):
                #if(!isFirst): &middot; #endif<a href="#(action.link)"#if(action.targetBlank ?? false): target="_blank"#endif>#(action.name)</a>
            #endfor
        </p>
    </header>
    
    <section>
        #evaluate(details ?? "")

        <div class="margin-top-xl">
            #if((detail.delete ?? true) && UserHasPermission(detail.key + ".delete")):
            <a href="#($req.url.path)delete/?cancel=#($req.url.path)" class="color-red">Delete</a>
            #endif
        </div>
    </section>
</div>
#enddefine

#inline("Admin/Index")
