#define(title):
Dashboard
#enddefine

#define(css):
.card {
    position: relative;
    min-height: 144px;
    overflow: hidden;
    padding: var(--unit);
    border-radius: var(--unit-4);
}
.card h3 {
    margin-top: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px dashed var(--bg-color-2);
}
.card nav a {
    display: block;
}
.card span {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    color: var(--link-color-2);
}
#enddefine

#define(body):

<header class="wrapper-1">
    <h1>Dashboard</h1>
    <p>Welcome <b>#($user.email)</b>, this is your admin interface.</p>
</header>

<section class="grid-321">
    #for(menu in InvokeAllHooks("admin-menu")):
        #if(UserHasPermission(menu.permission) ?? true):
        <div class="card bg-1">
            <span>#svg(menu.icon)</span>
            <h3>#(menu.name)</h3>
            <nav>
            #for(item in menu.items):
                #if(UserHasPermission(item.permission) ?? true):
                <a href="#(item.url)">#(item.label)</a>
                #endif
            #endfor
            </nav>
        </div>
        #endif
    #endfor
</section>

#enddefine
#inline("Admin/Index")
