<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>#evaluate(title ?? "Admin") - Feather CMS</title>

    <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/x-icon">
    
    #if($app.isDebug ?? false):
        #for(file in $app.css ?? []):
        <link rel="stylesheet" href="/css/#(file).css">
        #endfor
    #else:
        <link rel="stylesheet" href="/css/style.min.css">
    #endif
    
    <link rel="stylesheet" href="/css/admin.css">

    <style type="text/css">
        #evaluate(css ?? "")
    </style>
</head>
<body>
    
    <header id="menu">
        <a href="/" id="menu-logo">
            <img src="/images/logo-text.png" alt="Feather CMS" title="Feather CMS">
        </a>

        <input id="menu-button" type="checkbox" class="user-select-none">
        <label for="menu-button" id="menu-icon" class="user-select-none"><span></span></label>

        <nav id="menu-links">
            <a id="account" href="/logout/">Sign out</a>
        </nav>
    </header>
    
    <nav id="breadcrumb">
        <a href="/admin/">Dashboard</a>
        #evaluate(breadcrumb ?? "")
    </nav>

    <main>
        #body()
    </main>
    
    <footer>
        <section>
            <img class="size" src="/images/icons/icon.png" alt="Logo of Feather CMS" title="Feather CMS">
            <p>Thank you for using Feather CMS, <a href="https://discord.gg/wMSkxCUXAD" target="_blank">join the discussion</a> on our Discord server.</p>

            <nav>
                <a href="https://feathercms.com/" target="_blank">Feather</a> ·
                <a href="https://vapor.codes/" target="_blank">Vapor</a> ·
                <a href="https://swift.org/" target="_blank">Swift</a>
            </nav>
        </section>
    </footer>

    <script src="/javascript/admin.js"></script>
    <script type="text/javascript">
        #evaluate(js ?? "")
    </script>

</body>
</html>
