#var(actions = [] + table.actions ?? [])

#if((table.edit ?? true) && UserHasPermission(table.key + ".update")):
    #(actions.append(["link": "/update/", "label": "Edit", "icon": "edit-2", "width": "80px"]))
#endif

#if((table.delete ?? true) && UserHasPermission(table.key + ".delete")):
    #(actions.append(["link": "/delete/", "label": "Delete", "icon": "trash", "width": "80px"]))
#endif

#define(css):
tr {
    grid-template-columns: repeat(#max(1, actions.count()), 1fr);
}
@media (min-width: 600px) {
    tr {
        grid-template-columns: 1fr #for(a in actions): #(a.width)#endfor;
    }
}
#enddefine

#define(th):
    <th class="margin-horizontal-xs compact-center #if(!actions.isEmpty()): compact-col#(actions.count())#endif">
        #let(link = [
             "key": table.field.key,
             "default": true,
             "sort": (table.field.sort ?? "asc")
        ])
        #inline("Admin/SortLink")
    </th>

    #for(action in actions):
        <th class="text-align-center compact-hidden margin-right-s">#(action.label)</th>
    #endfor
#enddefine

#define(tr):
    #for(item in list.items):
        #let(label = !item[table.field.key].isEmpty() ? item[table.field.key] : (table.field.placeholder ?? ""))

    <tr class="margin-bottom-s shadow-s padding-s">
        <td class="margin-horizontal-xs compact-margin compact-center #if(!actions.isEmpty()): compact-separator compact-col#(actions.count())#endif">
            #if((table.view ?? true) && UserHasPermission(table.key + ".get")):
                <a href="#($req.url.path)#(item.id)/">#(label)</a>
            #else:
                #(label)
            #endif
        </td>

        #for(action in actions):
        <td class="text-align-center compact-margin">
            <a href="#($req.url.path)#(item.id)#(action.link)">#svg(action.icon)</a>
        </td>
        #endfor
    </tr>
    #endfor
#enddefine

#inline("Admin/BaseTable")
